/* 登录页 */
.body_bg {
  background-color: black;
}

.mt-179 {
  margin-top: 179px;
}

/* 管理首页 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,body {
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}
.table.table-bordered td {
  text-align: center;
  vertical-align: middle;
}
.mb_20 {
  margin-bottom: 20px;
}

.panel h4 {
  text-align: center;
}

/* 所有的a链接 */
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
.lt_aside {
  width: 197px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 1s;
  z-index: 999;
}

.lt_aside.now {
  left: -197px;
}
.lt_aside .brand a {
  display: block;
  width: 197px;
  height: 50px;
  background-color: #367fa9;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
}
.lt_aside .user {
  width: 197px;
  height: 149px;
}
.lt_aside .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 27px auto 0;
}
.lt_aside .user p {
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.lt_aside .nav a {
  display: block;
  height: 42px;
  line-height: 42px;
  padding-left: 47px;
  color: #ccc;
  border-left: 3px solid black;
}

.lt_aside .nav .child a {
  padding-left: 57px;
}

.lt_aside .nav a.now {
  border-left: 3px solid #069;
  background-color: #1d1f21;
  color: #fff;
}

/* 主体区域 */
.lt_main {
  width: 100%;
  height: 100%;
  padding-left: 197px;
  transition: all 1s;
  padding-top: 70px;
}

.lt_main.now {
  padding-left: 0;
}

.lt_topbar {
  height: 50px;
  background-color: #3c8dbc;
  padding: 0 20px 0 227px;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 998;
  transition: all 1s;
}

.lt_topbar.now {
  padding-left: 20px;
}

.lt_topbar a {
  font-size: 16px;
  color: #fff;
  line-height: 50px;
}
/* 主体区面包屑 */
.breadcrumb a:hover,
.breadcrumb a {
  color: #069;
}