.register_form {
  padding: 10px;
}

.register_form [name='vCode'] {
  width: 65%;
}

.register_form .getCode {
  width: 30%;
  padding: 0;
  height: 40px;
  line-height: 40px;
}

.register_form .btn_register {
  width: 100%;
  padding: 0;
  height: 40px;
  line-height: 40px;
}

.register_form .disabled {
  background-color: #ccc;
  border: 1px solid #ccc;
}