/* 搜索的样式 */
/* 放公共样式里 */

/* 历史记录样式 */
.lt_history {
  padding: 10px;
  font-size: 12px;
  color: #666;
}

.lt_history .content li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed #007aff;
  padding-left: 10px;
}

.lt_history .content span {
  line-height: 30px;
}
